@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nosifer&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Merienda&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consoals;
	scroll-behavior: smooth;
}

body {
	background: #fff;
	min-height: 100vh
}

body::-webkit-scrollbar {
	display: none
}

header {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, .05);
	z-index: 10000
}

.logo {
	height: 60px;
	line-height: 60px;
	color: #12334e;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px
}

#toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: #9051ff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center
}

#toggle::before {
	content: '';
	position: absolute;
	width: 28px;
	height: 2px;
	background: #fff;
	transform: translateY(-5px);
	transition: .2s all
}

#toggle::after {
	content: '';
	position: absolute;
	width: 28px;
	height: 2px;
	background: #fff;
	transform: translateY(5px);
	transition: .2s all
}

#toggle.active::before {
	transform: translateY(0) rotate(45deg)
}

#toggle.active::after {
	transform: translateY(0) rotate(-45deg)
}

#toggle.active {
	background: #f7226a
}

#navbar {
	position: relative;
	height: 60px;
	right: 60px;
	background: #fff;
	transition: .5s all;
	width: 0;
	overflow: hidden
}

#navbar.active {
	width: 580px
}

#navbar ul {
	position: relative;
	display: flex;
	flex-direction: row
}

#navbar ul li {
	list-style: none
}

#navbar ul li a {
	color: #12334e;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0 15px;
	letter-spacing: 2px
}

#navbar ul li a:hover {
	color: #fff;
	background: #9051ff
}

section {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

#home {
	background: #87ceeb
}

section .bac {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100px;
	position: relative;
	font-size: 8vw;
	color: #fff;
	font-weight: 900;
	transition: 1s all;
	text-shadow: 10px 10px 2px #21343b, 2px 2px 2px #21343b, 3px 3px 2px #21343b, 4px 4px 2px #21343b, 5px 5px 2px #21343b, 6px 6px 2px #21343b, 7px 7px 2px #21343b, 0 0 2px #000, 0 0 10px #000, 0 0 5px #000, 8px 8px 0 #21343b
}

section .bac:hover {
	text-shadow: 1px 1px 10px rgba(31, 38, 135, .37), 0 0 0 #000, 0 0 10px #000, 0 0 5px #000;
	letter-spacing: 5px
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../default_images/wave.png);
	background-size: 1000px 100px;
	animation: wave 4s ease-in-out infinite;
	animation-delay: calc(var(--i) * .25s);
	z-index: 5
}

.wave#wave1 {
	z-index: 10;
	opacity: 1;
	background-position-x: 400px
}

.wave#wave2 {
	z-index: 9;
	opacity: .5;
	background-position-x: 300px
}

.wave#wave3 {
	z-index: 8;
	opacity: .2;
	background-position-x: 200px
}

.wave#wave4 {
	z-index: 9;
	opacity: .7;
	background-position-x: 100px
}

@keyframes wave {

	0%,
	100% {
		transform: translateY(0)
	}

	50% {
		transform: translateY(10px)
	}
}

.logoimg {
	position: relative;
	vertical-align: middle;
	height: 50px;
	width: 50px;
	border-radius: 50%
}

.loader {
	position: relative;
	white-space: nowrap
}

.chapter {
	position: relative;
	color: #f7f5ec;
	z-index: 1000;
	letter-spacing: 5px;
	font-size: 12vw;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	animation: up 1s 4s linear forwards;
}

@keyframes up {
	100% {
		transform: translateY(-40px);
		font-size: 8vw
	}
}

.chapter::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #f7f5ec;
	overflow: hidden;
	border-right: 1px solid white;
	animation: type 3s steps(13) forwards, blink 0.8s linear infinite;
	white-space: nowrap;
}

@keyframes blink {
	0% {
		border-right: 3px solid white;
	}

	60% {
		border-right: 3px solid transparent;
	}
}

@keyframes type {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}



.para {
	border-radius: 10px;
	overflow: hidden
}

.para a {
	white-space: nowrap;
	padding: 10px;
	font-weight: 500;
	text-align: center;
	background: rgba(255, 255, 255, .25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .18);
	font-size: 20px;
	color: #12334e;
	transition: .5s all;
	transform: translateX(100%);
	opacity: 0;
	height: 0;
	width: 0;
	font-size: 0;
	text-decoration: none;
	animation: xyz 1s 4.5s forwards
}

.para a:hover {
	background: #12334e;
	letter-spacing: 2px;
	color: #fff
}

@keyframes xyz {
	0% {
		display: none
	}

	100% {
		display: block;
		opacity: 1;
		height: 100%;
		width: 100%;
		font-size: 25px;
		transform: translateX(0)
	}
}

.about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px
}

.about p {
	text-align: center;
	max-width: 700px;
	color: #12334e;
	font-size: 18px;
	text-align: justify;
	padding: 10px;
	margin: 10px
}

.about img {
	width: 300px;
	height: 300px;
	vertical-align: middle;
	border-radius: 20px;
	margin: 10px
}

.eventsbox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: block;
	text-align: center
}

.event {
	position: relative;
	width: 200px;
	display: inline-block;
	height: 200px;
	align-items: center
}

.event img {
	position: absolute;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 1s all
}

.event .span {
	position: absolute;
	background: rgba(18, 51, 78, .8);
	width: 100%;
	height: 100%
}

.event .span p {
	padding: 10px;
	font-size: 20px;
	font-size-adjust: inherit;
	color: #fff
}

.event .span .dropdown {
	position: absolute;
	bottom: 10px;
	right: 10px
}

.event .span .evendescription {
	background-color: #fff;
	color: #12334e;
	border-radius: 30px;
	padding: 4px 16px;
	font-size: 16px;
	border: none;
	cursor: pointer
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: wheat;
	width: 250px;
	box-shadow: 0 8px 16px 0 #000;
	z-index: 1
}

.dropdown-content p {
	color: #000 !important;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px !important
}

.dropdown-content p:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block
}

.event .span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	background: rgba(18, 51, 78, .8);
	border: 1px solid #fff;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	opacity: 0;
	transition: 1s all
}

.event .span h1 {
	position: relative;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0;
	transition: 1s all
}

.event:hover .span {
	opacity: 1;
	width: 100%;
	height: 100%
}

.event:hover .span h1 {
	font-size: 10px;
	width: 100%
}

.event:hover img {
	width: 50%;
	height: 50%;
	transition: 1s all
}

.eventmore {
	margin-top: 20px;
	text-align: center;
	height: 2em
}

.eventmore a {
	text-decoration: none;
	padding: 4px 20px;
	font-size: 20px;
	border: 7px solid #12334e;
	border-radius: 30px;
	animation: increase 2s infinite linear;
	transition: .3s all linear
}

.eventmore a:hover {
	background: rgba(18, 51, 78, .5);
	color: #fff;
	border: 3px solid #12334e;
	font-size: 25px;
	animation: none
}

@keyframes increase {

	0%,
	100% {
		font-size: 20px
	}

	50% {
		font-size: 25px
	}
}

#gallery {
	position: relative
}

#gallery .pa {
	width: 80%
}

.pa img {
	width: 100%;
	height: 100%
}

.pa .swiper-container {
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto
}

.pa .swiper-slide {
	background-size: cover;
	background-position: center
}

.pa .gallery-top {
	height: 80%;
	width: 100%
}

.pa .gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0
}

.pa .gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: .4
}

.pa .gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1
}

.container {
	position: relative;
	width: 90%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: inherit
}

.container .box {
	width: fit-content;
	height: fit-content
}

.card {
	background: rgba(104, 141, 243, .4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
	backdrop-filter: blur(4.5px);
	-webkit-backdrop-filter: blur(4.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .18);
	max-width: 350px;
	min-width: 300px;
	position: relative;
	padding: 30px 0 40px;
	text-align: center;
	overflow: hidden;
	margin: 15px;
	box-shadow: rgba(31, 38, 135, .37) 0 50px 100px -20px, rgba(31, 38, 135, .37) 0 30px 60px -30px
}

.card:hover {
	transition: .5s all;
	box-shadow: rgba(0, 0, 0, .25) 0 54px 55px, rgba(0, 0, 0, .12) 0 -12px 30px, rgba(0, 0, 0, .12) 0 4px 6px, rgba(0, 0, 0, .17) 0 12px 13px, rgba(0, 0, 0, .09) 0 -3px 5px
}

.card .pic {
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-bottom: 50px;
	position: relative;
	z-index: 1
}

.card .pic::before {
	content: '';
	width: 200%;
	height: 0;
	border-radius: 50%;
	background: rgba(30, 76, 201, .4);
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	transform: scale(3);
	transition: all 1.3 linear 0s
}

.card:hover .pic::before {
	height: 100%;
	transition: 1.5s
}

.card .pic::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(30, 76, 201, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1
}

.card .pic img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1.5);
	transition: all 1.3s ease 0s
}

.card:hover .pic img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(.7)
}

.card .team-post {
	margin-bottom: 30px
}

.card .title {
	font-size: 22px;
	font-weight: 700;
	color: #4e5052;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 5px
}

.card .post {
	display: block;
	font-size: 15px;
	color: #4e5052;
	text-transform: capitalize
}

.card .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background: rgba(30, 76, 201, .4);
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 1.3s ease 0s
}

.card:hover .social {
	bottom: 0;
	transition-delay: .6s
}

.card .social li {
	display: inline-block
}

.card .social li a {
	display: block;
	padding: 10px;
	font-size: 27px;
	border-radius: 0;
	color: #fff;
	transition: all .5s ease 0s
}

.card .social li a:hover {
	color: rgba(30, 76, 201, .4);
	background: #f7f5ec;
	text-decoration: none
}

#sponsors {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh
}

#sponsors .swiper-container1 {
	width: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 200px
}

#sponsors .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	max-width: 300px;
	height: 300px;
	-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006)
}

#sponsors img {
	max-height: 300px;
	max-height: 300px
}

.bullitiens {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: #021524;
	color: #fff
}

.bullitiens .boxes {
	width: 100%;
	height: 100%;
	padding: 20px
}

.bullitiens .boxes h2 {
	position: relative;
	display: inline;
	font-size: 40px
}

.bullitiens .boxes h2::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 70%;
	height: 2px;
	background: wheat
}

.bullitiens .boxes ul {
	margin-top: 20px;
	list-style: none;
	vertical-align: middle;
	padding: 10px
}

.bullitiens .boxes ul li {
	position: relative;
	font-size: 20px;
	cursor: pointer
}

.bullitiens .boxes ul li a {
	text-decoration: none;
	color: #fff
}

.bullitiens .boxes ul li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	left: -20px;
	font-size: 80%;
	margin-left: 5px;
	margin-right: 5px
}

.alining {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	position: relative;
	width: 100%;
	padding: 0 20px;
	display: block;
	text-align: center;
	align-items: center;

}

.contact span {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 20px
}

.contact span:first-child {
	font-weight: 700;
	font-family: Merienda, cursive;
	color: #333;
	cursor: pointer
}

.contact span a {
	text-decoration: none;
	color: #333;
	transition: .5s all;
	border-radius: 30px;
	padding-right: 15px
}

.contact span a:hover {
	font-size: 22px;
	box-shadow: 3px 3px 10px #333
}

.contact span img {
	position: relative;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	border-radius: 50%
}

.contact span i {
	padding: 10px;
	background: #e7e7e7;
	margin-right: 5px;
	border-radius: 50%
}

.copyright {
	position: relative;
	width: 100%;
	padding: 0 20px;
	display: block;
	text-align: center;
	background: #021524;
	color: #e7e7e7;
	padding: 10px 0
}

.socialmedia {
	position: relative;
	width: 100%;
	padding: 0 20px;
	display: block;
	text-align: center;
	background: #021524
}

.socialmedia span {
	position: relative;
	display: inline-block;
	align-items: center;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 20px
}

.socialmedia span:first-child {
	font-weight: 700;
	font-family: Merienda, cursive;
	color: #f5f5f5;
	cursor: pointer
}

.socialmedia span a {
	text-decoration: none;
	color: #f5f5f5;
	transition: .5s all;
	border-radius: 30px;
	padding-right: 15px
}

.socialmedia span i {
	padding: 10px;
	background: #e7e7e7;
	color: #333;
	margin-right: 5px;
	border-radius: 50%
}

@media (max-width:840px) {
	#navbar {
		position: fixed;
		bottom: -100%;
		right: 0;
		width: 100%;
		transition: .5s all;
		display: flex;
		justify-content: center;
		align-items: center
	}

	#navbar.active {
		height: calc(100vh - 60px);
		bottom: 0;
		width: 100%
	}

	#navbar ul {
		flex-direction: column;
		justify-content: center;
		align-items: center
	}

	@keyframes xyz {
		100% {
			opacity: 1;
			height: 100%;
			width: 90%;
			font-size: 20px;
			height: 100%;
			transform: translateX(0);
			font-weight: 500
		}
	}
}

#my-canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999999;
	animation: cssAnimation 0s ease-in 5s forwards
}

@keyframes cssAnimation {
	to {
		width: 0;
		height: 0;
		overflow: hidden
	}
}

@media (max-width:820px) {
	.bullitiens {
		flex-direction: column
	}
}

@media (max-width:450px) {
	@keyframes typing {
		0% {
			width: 0
		}

		40% {
			width: 18ch
		}
	}
}

@media (max-width:500px) {
	.socialmedia span:first-child {
		display: block;
	}
	.contact{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
	}
}